In [18]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\dsadm\desktop\braga - iabd\iabd-aula-um\.venv\lib\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\dsadm\desktop\braga - iabd\iabd-aula-um\.venv\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dsadm\desktop\braga - iabd\iabd-aula-um\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dsadm\desktop\braga - iabd\iabd-aula-um\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dsadm\desktop\braga - iabd\iabd-aula-um\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\dsadm\desktop\braga - iabd\iabd-aula-um\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [19]:
import pandas as pd

In [20]:
Dicionario = {
    'A':[1,2,3],
    'B':[-3,-2,-1],
    'C':[0,10,20]
}
#
Label =['1ª Linha','2ª Linha','3ª Linha']

#Dataframe
dataframe_01 =pd.DataFrame(Dicionario,index=Label)
print(dataframe_01)

          A  B   C
1ª Linha  1 -3   0
2ª Linha  2 -2  10
3ª Linha  3 -1  20

In [21]:
dataframe_01[['A','B']]

          A  B
1ª Linha  1 -3
2ª Linha  2 -2
3ª Linha  3 -1

In [22]:
dataframe_01[['A','C']]

          A   C
1ª Linha  1   0
2ª Linha  2  10
3ª Linha  3  20

In [23]:
#criando uma coluna fazendo operações 
dataframe_01['Nova Coluna']=dataframe_01['A']*dataframe_01['B']

In [24]:
dataframe_01

          A  B   C  Nova Coluna
1ª Linha  1 -3   0           -3
2ª Linha  2 -2  10           -4
3ª Linha  3 -1  20           -3

In [25]:
a=5
print(a)
print(dataframe_01)

5
          A  B   C  Nova Coluna
1ª Linha  1 -3   0           -3
2ª Linha  2 -2  10           -4
3ª Linha  3 -1  20           -3

In [26]:
dataframe_01.drop('Nova Coluna',axis=1)

          A  B   C
1ª Linha  1 -3   0
2ª Linha  2 -2  10
3ª Linha  3 -1  20

In [27]:
dataFrame_01.loc['3ª Linha']

NameError: name 'dataFrame_01' is not defined