In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.3.1-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.3.2-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dsadm\desktop\braga - iabd\iabd-aula-um\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\dsadm\desktop\braga - iabd\iabd-aula-um\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.1-cp313-cp313-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   --------------------------------- ------ 9.2/11.0 MB 46.2 MB/s eta 0:00:01
   ---------------------------------------  10.7/11.0 MB 43.8 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 19.6 MB/s eta 0:00:00
Downloading numpy-2.3.2-cp313-cp313-win_amd64.whl (12.8 MB)
   ---------------------------------------- 0.0/12.8 MB ? eta -:--:--
   ------------------------- -------------- 8.1/12.8 MB 37.8 MB/s eta 0:00:01
   ---------------------------------------- 12.8/12.8 MB 33.8 MB/s eta 0:00:00
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.3.2 pandas-2.3.1 pytz-2025.2 tzdata-2025.2

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import pandas as pd

In [7]:
Dicionario = {
    'A':[1,2,3],
    'B':[-3,-2,-1],
    'C':[0,10,20]
}
#
Label =['1ª Linha','2ª Linha','3ª Linha']

#Dataframe
dataframe_01 =pd.DataFrame(Dicionario,index=Label)
print(dataframe_01)

          A  B   C
1ª Linha  1 -3   0
2ª Linha  2 -2  10
3ª Linha  3 -1  20

In [8]:
dataframe_01[['A','B']]

          A  B
1ª Linha  1 -3
2ª Linha  2 -2
3ª Linha  3 -1

In [9]:
dataframe_01[['A','C']]

          A   C
1ª Linha  1   0
2ª Linha  2  10
3ª Linha  3  20