In [10]:
#Aula 2 - configuração de ambiente de python

In [11]:
print("Inteligência Artificial e Big Data")

Inteligência Artificial e Big Data

In [9]:
#instalando o pacote pandas
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\dsadm\appdata\roaming\python\python313\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\dsadm\appdata\roaming\python\python313\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dsadm\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dsadm\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dsadm\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\dsadm\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: C:\Program Files\Python313\python.exe -m pip install --upgrade pip

In [12]:
#importando o pacote pandas
import pandas as pd

In [13]:
#criando um  dicionário no python
dicionario = {
    'A': [1, 2, 3],
    'B': [-3, -2, -1],
    'C': ['0', '10', '20']

}

#criando um index para linhas do dicionário
label = ['Linha1', 'Linha2', 'Linha3']

#criando um dataframe 
Dataframe_01 = pd.DataFrame(dicionario, index=label)
print(Dataframe_01)

        A  B   C
Linha1  1 -3   0
Linha2  2 -2  10
Linha3  3 -1  20

In [14]:
#selecionar as colunas A e B
print(Dataframe_01[['A', 'B']])

        A  B
Linha1  1 -3
Linha2  2 -2
Linha3  3 -1

In [15]:
#selecionar a coluna A e C
print(Dataframe_01[['A', 'C']])

        A   C
Linha1  1   0
Linha2  2  10
Linha3  3  20

In [16]:
#criando uma nova coluna D
Dataframe_01['D'] = Dataframe_01['A'] + Dataframe_01['B']
print(Dataframe_01)

        A  B   C  D
Linha1  1 -3   0 -2
Linha2  2 -2  10  0
Linha3  3 -1  20  2

In [19]:
#excluindo  uma coluna do dataframe
Dataframe_01.drop(columns=['D'],axis=1) 
#sem usar o parâmetro inplace=True, a exclusão não é feita no próprio DataFrame, mas sim em uma cópia dele.

        A  B   C
Linha1  1 -3   0
Linha2  2 -2  10
Linha3  3 -1  20

In [20]:
# localizando uma linha específica
print(Dataframe_01.loc['Linha1'])

A     1
B    -3
C     0
D    -2
Name: Linha1, dtype: object

In [23]:
# localizando linha e coluna específicas
 #  Linha1/2 e coluna A/B

print(Dataframe_01.loc[['Linha1', 'Linha2'], ['A', 'B']])  # Linhas 1/2 e colunas A/B

        A  B
Linha1  1 -3
Linha2  2 -2

In [26]:
#localizandi linhas pelo indice numérico
print(Dataframe_01.iloc[0:2, :])   # Se quiser as duas primeiras linhas e todas as colunas:

        A  B   C  D
Linha1  1 -3   0 -2
Linha2  2 -2  10  0

In [29]:
#criando um filtro condicional no dataframe
Dataframe_01['C'] = pd.to_numeric(Dataframe_01['C'])  # converte a coluna C para números
filtro = Dataframe_01['C'] > 0
Dataframe_02 = Dataframe_01[filtro]
print(Dataframe_02)

        A  B   C  D
Linha2  2 -2  10  0
Linha3  3 -1  20  2

In [30]:
Dataframe_01>0

           A      B      C      D
Linha1  True  False  False  False
Linha2  True  False   True  False
Linha3  True  False   True   True

In [32]:

#criando  filtros de duas colunas
print(Dataframe_01[(Dataframe_01['A'] > 1) & (Dataframe_01['C'] < 0)])

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [34]:


#criando um filtro de duas colunas com lógica or
print(Dataframe_01[(Dataframe_01['A'] > 1) | (Dataframe_01['C'] < 0)])

        A  B   C  D
Linha2  2 -2  10  0
Linha3  3 -1  20  2

In [35]:
#Resetando o index do DataFrame
Dataframe_01.reset_index()
print(Dataframe_01)

        A  B   C  D
Linha1  1 -3   0 -2
Linha2  2 -2  10  0
Linha3  3 -1  20  2

In [36]:
#Resetando o index do DataFrame com inplace=True
Dataframe_01.reset_index(drop=True, inplace=True)
print(Dataframe_01)

   A  B   C  D
0  1 -3   0 -2
1  2 -2  10  0
2  3 -1  20  2

In [38]:
#  excluindo  uma coluna  no index
#Dataframe_01.drop(columns=['index'], axis=1, inplace=True)

In [ ]:
#Criando varios dicionários
dicionario_01a = {
    'A': [4, 5, 6],
    'B': [-6, -5, -4],
    'C': [30, 40, 50],
    'Chave': ['AA', 'BB', 'CC']
}   

dicionario_02 = {
    'A': [7, 8, 9],
    'B': [-9, -8, -7],
    'C': [60, 70, 80],
    'Chave': ['AA', 'BB', 'CC   ']

}

dicionario_03 = {
    'A': [10, 11, 12],
    'B': [-12, -11, -10],
    'C': [90, 100, 110],
    'Chave': ['AA', 'BB', 'CC']

}

#criando as listas  para serem os labels
lista_01 = ['Linha1', 'Linha2', 'Linha3']
lista_02 = ['Linha4', 'Linha5', 'Linha6']
lista_03 = ['Linha7', 'Linha8', 'Linha9']


#criando os dataframes
Dataframe_01 = pd.DataFrame(dicionario_01a, index=lista_01)
Dataframe_02 = pd.DataFrame(dicionario_02, index=lista_02)
Dataframe_03 = pd.DataFrame(dicionario_03, index=lista_03)

In [53]:
print(Dataframe_01)
print(Dataframe_02)
print(Dataframe_03)

        A  B   C Chave
Linha1  4 -6  30    AA
Linha2  5 -5  40    BB
Linha3  6 -4  50    CC
        A  B   C  Chave
Linha4  7 -9  60     AA
Linha5  8 -8  70     BB
Linha6  9 -7  80  CC
         A   B    C Chave
Linha7  10 -12   90    AA
Linha8  11 -11  100    BB
Linha9  12 -10  110    CC

In [54]:
#juntando os dataframes
pd.merge(Dataframe_01, Dataframe_02, on='Chave', how='outer')  # junção externa

   A_x  B_x   C_x  Chave  A_y  B_y   C_y
0  4.0 -6.0  30.0     AA  7.0 -9.0  60.0
1  5.0 -5.0  40.0     BB  8.0 -8.0  70.0
2  6.0 -4.0  50.0     CC  NaN  NaN   NaN
3  NaN  NaN   NaN  CC     9.0 -7.0  80.0

In [55]:
#juntando os dataframes
pd.concat([Dataframe_01, Dataframe_02, Dataframe_03], axis=0)  # Concatenando verticalmente

         A   B    C  Chave
Linha1   4  -6   30     AA
Linha2   5  -5   40     BB
Linha3   6  -4   50     CC
Linha4   7  -9   60     AA
Linha5   8  -8   70     BB
Linha6   9  -7   80  CC
Linha7  10 -12   90     AA
Linha8  11 -11  100     BB
Linha9  12 -10  110     CC