In [ ]:
!pip install pandas

In [1]:
import pandas as pd

In [14]:
D_01 = {
    'Nomes':['Alice','Julia','Bruna','Daniel','Filipe','Silvio'],
    'Idade':[19,22,28,34,28,48],
    'Profissisões':['Direito','Engenharia','Enfermagem','Engenheiro Civil','Cientista da Computação','Engenheiro Elentronico'],
    'ID':[1,2,3,4,5,6]
}

D_02 = {
    'Número de produtos fabricados':[50,30,40,100],
    'Setores':[1,2,3,4]
}

In [15]:
Df_01 =pd.DataFrame(D_01)
Df_02 =pd.DataFrame(D_02)

In [31]:
D_03 = {
    'ID':[1,2,3,4],
    'Nomes':['Ana','Pedro','Maria','João'],
    'Setores':['Rh','Vendas','Administrativo','Produção'],
    
}
D_04 = {
    'ID':[1,2,3,4],
    'Salário':[3000,2800,3200,2500]
}

In [32]:

Df_03 =pd.DataFrame(D_03)
Df_04 =pd.DataFrame(D_04)

In [33]:
#juntando os dois DataFrames
pd.merge(Df_03,Df_04,how='inner',on='ID')

   ID  Nomes         Setores  Salário
0   1    Ana              Rh     3000
1   2  Pedro          Vendas     2800
2   3  Maria  Administrativo     3200
3   4   João        Produção     2500